[submodule "bundle/splice.vim"]
	path = bundle/splice.vim
	url = git@github.com:sjl/splice.vim.git
[submodule "bundle/vim-easymotion.vim"]
	path = bundle/vim-easymotion.vim
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = git@github.com:tpope/vim-surround.git
