[submodule "bundle/splice.vim"]
	path = bundle/splice.vim
	url = git@github.com:sjl/splice.vim.git
[submodule "bundle/vim-easymotion.vim"]
	path = bundle/vim-easymotion.vim
	url = git@github.com:Lokaltog/vim-easymotion.git
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule "bundle/neosnippet.vim"]
	path = bundle/neosnippet.vim
	url = git@github.com:Shougo/neosnippet.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = git@github.com:Shougo/unite.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/nerdcommenter.vim"]
	path = bundle/nerdcommenter.vim
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree.vim"]
	path = bundle/nerdtree.vim
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/yankring.vim"]
	path = bundle/yankring.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "bundle/indent_guides.vim"]
	path = bundle/indent_guides.vim
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git@github.com:tmhedberg/matchit.git
[submodule "bundle/vim-filetype-haskell"]
	path = bundle/vim-filetype-haskell
	url = https://github.com/kana/vim-filetype-haskell.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
