[submodule "bundle/splice.vim"]
	path = bundle/splice.vim
	url = git@github.com:sjl/splice.vim.git
[submodule "bundle/vim-easymotion.vim"]
	path = bundle/vim-easymotion.vim
	url = git@github.com:Lokaltog/vim-easymotion.git
